.side-menu {
  height: 100vh;
  padding: 0;
  background: #FFFF;
  border: 1px solid #E6ECEF;
  box-shadow: 0 4px 20px #0000000d;

  &__content {
    height: calc(100% - 38px);
    overflow: auto;
  }
}

.content {
  & .navbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #7a7a7a;
    border: 1px solid #E6ECEF;
    border-radius: 4px;
    box-shadow: 0 4px 20px #0000000d;
  }
}
