<div class='row'>
  <div class='side-menu col-4 pt-2 pb-2'>
    <div class='side-menu__content pt-2 pb-2'>
      <app-category-tree
        [categories]='categories'
      ></app-category-tree>
    </div>
  </div>
  <div class='content col-8 mt-2'>
    <nav class='navbar navbar-expand-lg rounded-3'>
      <ul class='navbar-nav me-auto'>
        <li class='nav-item me-2 ms-2'>
          <button class='btn btn-success' (click)='selectFromType(FormType.Add)'>Add category</button>
        </li>
        <li class='nav-item'>
          <button *ngIf='category' class='btn btn-primary' (click)='selectFromType(FormType.Edit)'>Edit category</button>
        </li>
      </ul>
      <button *ngIf='category' class='btn btn-danger me-2' (click)='deleteCategory(category.id)'>Delete category</button>
    </nav>
    <p>{{categoryPosition}}</p>
    <app-add-category-form
      *ngIf='formType === FormType.Add'
      [category]='category'
      (reloadCategoriesEvent)='reloadCategories($event)'>
    </app-add-category-form>
    <app-edit-category-form
      *ngIf='formType === FormType.Edit && category'
      [category]='category'
      (reloadCategoriesEvent)='reloadCategories($event)'>
    </app-edit-category-form>
  </div>
</div>

