<div class='row'>
  <div class='side-menu col-4 pt-2 pb-2'>
    <div class='side-menu__content pt-2 pb-2'>
      <app-category-tree
        [categories]='categories'
      ></app-category-tree>
      <button class='btn btn-success' (click)='selectFromType(FormType.Add)'>{{ 'category.nav.addButtonLabel' | translate }}</button>
    </div>
  </div>
  <div class='content col-8 mt-2'>
    <nav class='navbar navbar-expand-lg rounded-3'>
      <ul class='navbar-nav me-auto'>
        <li class='nav-item me-2 ms-2'>
          <button class='btn btn-success' (click)='selectFromType(FormType.Add)'>{{ 'category.nav.addButtonLabel' | translate }}</button>
        </li>
        <li class='nav-item'>
          <button *ngIf='category' class='btn btn-primary' (click)='selectFromType(FormType.Edit)'>{{ 'category.nav.editButtonLabel' | translate }}</button>
        </li>
      </ul>
      <button *ngIf='category' class='btn btn-danger me-2' (click)='deleteCategory(category.id)'>{{ 'category.nav.deleteButtonLabel' | translate }}</button>
    </nav>
    <div class="row">
      <div class="col-12 py-2">
        <p>{{categoryPosition}}</p>
      </div>
    </div>
    <div class="row" *ngIf='formType === FormType.Add'>
      <app-add-category-form
        [category]='category'
        (reloadCategoriesEvent)='reloadCategories($event)'>
      </app-add-category-form>
    </div>
    <div class="row" *ngIf='formType === FormType.Edit && category'>
      <app-edit-category-form
        [category]='category'
        [categories]='categories'
        (reloadCategoriesEvent)='reloadCategories($event)'>
      </app-edit-category-form>
    </div>
  </div>
</div>

