<ul class='category-list'>
  <li *ngFor="let category of categories"
      class='category-list__item'
      [class.collapsed]='isCategoryExpanded(expandAllCategories, category)'
      [class.expanded]='!isCategoryExpanded(expandAllCategories, category)'
      [class.empty]='category.childCategories.length === 0'
      [class.active]='selectedCategory?.id === category.id'
  >
    <button
      [class.btn]='true'
      [class.btn-link]='true'
      [class.active]='selectedCategory?.id === category.id'
      (click)="selectCategory(category)"
    >{{category.name}}</button>
    <app-category-tree
      *ngIf="isCategoryExpanded(expandAllCategories, category)"
      [expandAllCategories]="expandAllCategories"
      [position]='getPosition(category.name)'
      [categories]="category.childCategories">
    </app-category-tree>
  </li>
</ul>
