<div *ngIf='serverValidationErrors.length' class="alert alert-danger" role="alert">
  <div class='row'>
    <div class='col-12' *ngFor='let error of serverValidationErrors'>
      * {{ error | translate }}
    </div>
  </div>
</div>
<div class='card'>
  <h5 class="card-header">{{ 'industry.categories.form.edit.title' | translate }}</h5>
  <div class="card-body">
    <form [formGroup]='editCategoryForm' (ngSubmit)='submitForm()'>
      <div class='form-row'>
        <div class='form-group pt-2'>
          <label for='relation-id'>{{ 'industry.categories.form.edit.categoryFieldLabel' | translate }}</label>
          <select
            id='relation-id'
            class='form-select'
            formControlName='relationId'
          >
            <option value="">{{ 'industry.categories.form.edit.selectDropdownEmptyField' | translate }}</option>
            <option *ngFor="let category of flattenedCategories" [ngValue]="category.id">
              {{ category.position || category.name }}
            </option>
          </select>
        </div>
        <div class='form-group pb-4 pt-2'>
          <label for='name'>{{ 'industry.categories.form.edit.nameFieldLabel' | translate }}</label>
          <input id='name' class='form-control' type='text' formControlName='name'>
        </div>
      </div>
      <button class='btn btn-primary' type='submit'>{{ 'industry.categories.form.edit.submitLabel' | translate }}</button>
    </form>
  </div>
</div>
